@tailwind base;
@tailwind components;
@tailwind utilities;

.submit-box {
  background-color: #F6AD55;
  box-shadow: 5px 10px 8px #666666;
  margin-left: 25rem;
  margin-right: 25rem;
}

.body-box {
  box-shadow: 5px 10px 8px #666666;
  background-color: #667eea;
}

.iconButton {
  display: none;
}